@model List<PizzeriaOnline.Models.Pedido>
@{
	ViewData["Title"] = "Panel de Administración";
}

<hi class="display-4">Pedidos Recibidos</hi>
<form asp-action="Index" asp-controller="Admin" method="get" class="mb-3">
	<div class="input-group">
		<input type="text" name="terminoBusqueda" value="@ViewData["BusquedaActual"]" class="form-control" placeholder="Buscar por Nombre o ID Pedido..." />
		<button type="submit" class="btn btn-primary">
			<i class="bi bi-search"></i> Buscar
		</button>
	</div>
</form>
<p class="lead">Lista de todos los pedidos realizados por los clientes.</p>
<hr />

<div class="mt-4">
	<a asp-controller="PizzasAdmin" asp-action="Index" class="btn btn-secondary">
		Gestionar Pizzas del Menú
	</a>

	<a asp-controller="Inventario" asp-action="Index" class="btn btn-info">
		Gestionar Inventario
	</a>
</div>
@if (!Model.Any())
{
	<div class="alert alert-info">
		Aún no se han recibido pedidos
	</div>
}
else
{
	<table class="table table-bordered table-striped">
		<thead class="table-dark">
			<tr>
				<th>ID Pedido</th>
				<th>Fecha</th>
				<th>Clientes</th>
				<th>Total</th>
				<th>Estado</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var pedido in Model)
			{				
					var colorBadge = "bg-secondary";
					switch (pedido.Estado)
					{
						case "Recibido":
							colorBadge = "bg-primary";
							break;
						case "En preparación":
							colorBadge = "bg-warning text-dark";
							break;
						case "En camino":
							colorBadge = "bg-info text-dark";
							break;
						case "Completado":
							colorBadge = "bg-success";
							break;
						case "Cancelado":
							colorBadge = "bg-danger";
							break;
					}				
				<tr>
					<td>@pedido.Id</td>
					<td>@pedido.FechaPedido.ToString("g")</td>
					<td>@pedido.NombreCliente</td>
					<td>@pedido.TotalPedido.ToString("C")</td>
					<td><span class="badge @colorBadge fs-6">@pedido.Estado</span></td>
					<td>
						<a asp-action="DetallePedido" asp-route-id="@pedido.Id" class="btn btn-info btn-sm">Ver Detalles</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}