@model PizzeriaOnline.Models.Pizza
@{
    ViewData["Title"] = Model.Nombre;
}

<div class="row">
    <div class="col-md-6">
        <img src="@Model.RutaImagen" class="img-fluid rounded" alt="Imagen de @Model.Nombre">
    </div>
    <div class="col-md-6">
        <h1>@Model.Nombre</h1>
        <p class="lead">@Model.Descripcion</p>

        <hr />

        <h4>Selecciona un tamaño:</h4>

        <form asp-controller="Home" asp-action="AgregarAlCarrito" method="post">
            <input type="hidden" name="pizzaId" value="@Model.Id" />

            <h4><Selecciona un tamaño:</h4>
            @* Aquí mostraremos los tamaños como botones de radio *@
            @foreach (var variante in Model.Variantes.OrderBy(v => v.Tamaño.PrecioBase))
            {
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="tamañoId" id="tamaño-@variante.Tamaño.Id" value="@variante.Tamaño.Id">
                    <label class="form-check-label" for="tamaño-@variante.Tamaño.Id">
                        <strong>@variante.Tamaño.Nombre</strong> (@variante.Tamaño.NumeroRebanadas rebanadas) - <strong>@variante.Tamaño.PrecioBase.ToString("C")</strong>
                    </label>
                </div>
            }

            <div class="form-group mt-3">
                <label for="cantidad">Cantidad:</label>
                <input type="number" id="cantidad" name="cantidad" class="form-control" value="1" min="1" style="max-width: 100px;" />
            </div>

            <button type="submit" class="btn btn-primary btn-lg mt-4">Añadir al Carrito</button>
        </form>
    </div>
</div>