@model PizzeriaOnline.Models.Promocion

@{
	ViewData["Title"] = "Eliminar Promocion";
}

<h1>@ViewData["Title"]</h1>

<h3>¿Estás seguro de que quieres eliminar esta Promocion?</h3>
<div class="alert alert-danger">
	<strong>!Esta acción no se puede deshacer!</strong>
</div>

<div>
	<h4>Promocion</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-3">
			@Html.DisplayNameFor(model => model.Titulo)
		</dt>
		<dt class="col-sm-3">
			@Html.DisplayNameFor(model => model.Descripcion)
		</dt>
		<dt class="col-sm-3">
			@Html.DisplayNameFor(model => model.Precio)
		</dt>
		<dt class="col-sm-3">
			@Html.DisplayNameFor(model => model.EstaActiva)
		</dt>
	</dl>

	<form asp-action="Delete" method="post">
		<input type="hidden" asp-for="Id" />

		<input type="submit" value="Sí, Eliminar" class="btn btn-danger" />
		<a asp-action="Index" class="btn btn-secondary">Cancelar</a>
	</form>
</div>